@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .footerblockbg {
        margin: auto;
        float: left;
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .footerblockbg1 {
        margin: auto;
        width: 75%;
        height: auto;
        border-top: #8cc046 solid 3px;
        font-size: 12px;
        font-weight: bold;
    }
</style>
<div class="footerblockbg">
    <div class="footerblockbg1">
        <div class="foorterleft">
            © 2010-2022 - FGC | Digital Banking Solution
        </div><!--footerleft-->
        <div class="foorterright">
            <a href="https://www.fgc-capital.com/contact-us/" target="_blank">Report an error</a>
            <a href="">|</a>
            <a href="https://www.fgc-capital.com/contact-us/" target="_blank">Support</a>
            <a href="">|</a>
            <a href="https://www.fgc-capital.com/contact-us/" target="_blank">Contact us</a>
        </div><!--footerleft-->
    </div>
</div>