@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="headerbgblock">

    <div class="headerblockleft">
        <div class="icon1"><img src="~/Images/icon.jpg" width="42" height="50"></div>
        <div class="icon2"><a asp-controller="Home" asp-action="Index"><img src="~/Images/fgcnewlogo.png" width="109" height="40"></a></div>
    </div><!--headerblockleft-->


    <div class="headerblockright">
        <div class="icon3"><img src="~/Images/headercut.jpg" width="27" height="50"></div>
        <div class="icon4">
            <div class="menyblock">
                <a href="tel:+02080904585">Call us: (0208) 0904585</a>
                <a style="color:white">|</a>
                <a href="~/identity/account/login">Sign in</a>
                <a style="color:white">|</a>
                <a href="~/identity/account/register">Sign up</a>
            </div>
        </div>
    </div><!--headerblockleft-->
</div>
<style>
    .menyblock {
        margin: auto;
        float: right;
        margin-right: 20px;
        margin-top: 17px;
    }

        .menyblock a {
            margin: auto;
            float: left;
            color: #FFF;
            font-size: 12px;
            padding-left: 10px;
            padding-right: 10px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
        }

    .headerblockleft {
        margin: auto;
        float: left;
        width: 40%;
        height: auto;
    }

    .headerblockright {
        margin: auto;
        float: right;
        width: 59.5%;
        height: auto;
    }

    .headerbgblock {
        margin: auto;
        float: left;
        width: 100%;
        height: 50px;
        background: #FFF;
        position: fixed;
        top: 0;
        z-index: 999;
        -webkit-box-shadow: 0 8px 10px -6px #c5c2c2;
        -moz-box-shadow: 0 8px 10px -6px #c5c2c2;
        box-shadow: 0 8px 10px -6px #c5c2c2;
    }

    .icon4 {
        margin: auto;
        float: left;
        width: 96.5%;
        height: 50px;
        background: #1f8f46;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    .icon1 {
        margin: auto;
        float: left;
        width: 60px;
    }

    .icon2 {
        margin: auto;
        float: left;
        margin-left: 100px;
        margin-top: 6px;
    }

    .icon3 {
        margin: auto;
        float: left;
        width: 27px;
        height: 50px;
    }
</style>