@model IEnumerable<FGC_OnBoarding.Models.Buisness.BuisnessProfile> 
@{
    Layout = "_FormLayout";
}

<div class="blockselct">
    <div class="blockselct1">
        <div class="addnewblockbut1">
            Browse Old Applications
            <div class="mainback">
                <a href="~/Home/Index">Back</a>
            </div>
        </div><!--addnewblockbut-->
        <div class="headerblockbut">
            <div class="hhh1">Bussiness Name</div><!--hh1-->
            <div class="hhh2">Submitted Date</div><!--hh1-->
            <div class="hhh2">Expiry Date for Edit</div><!--hh1-->
            <div class="hhh22">Action</div><!--hh1-->
        </div><!--heaeingb-->

    @foreach (var Profile in Model)
    {
    <div class="headerblockbut">

        <div class="hhh3">@Profile.BuisnessName</div><!--hh1-->
        <div class="hhh4">@Profile.SubmitDate.ToString("dd MMMM,yyyy")</div><!--hh1-->
        <div class="hhh4">@Profile.SubmitDate.AddDays(15).ToString("dd MMMM,yyyy")</div><!--hh1-->
        <div class="hhh22">
            <a href="clientaccount/clientview.php?page=client&amp;accountid=281&amp;appid=364">
                <i class="fa fa-pencil" aria-hidden="true" style="color:#060;"></i>
            </a>
        </div><!--hh1-->
    </div><!--heaeingb-->
    }
    </div><!--selct2-->
</div>
