@{
    ViewData["Title"] = "FGC-Form";
    Layout = "_FormLayout";
}
<div class="blockselct">
    <div class="blockselct1">
        <div class="addnewblockbut">
            <a asp-controller="Home" asp-action="NewApplication">
                <input type="button" name="Addnewbutappp" class="actionbutton" value="Submit New Application">
            </a>
        </div><!--addnewblockbut-->
        <div class="addnewblockbut">
            <a asp-controller="Home" asp-action="BrowseOldApplications">
                <input type="button" name="Addnewbutappp" class="actionbutton" value="Browse Old Applications">
            </a>
        </div><!--addnewblockbut-->
    </div><!--selct2-->
</div>
  
