
@{
    Layout = null;
}

<div class="formblockportion">

    <div class="topheader"></div><!--topheader-->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="topheader1">
        <div class="topheader2">
            <div class="pagehee1" style="padding-bottom:15px;">Personal Documentation</div>
            <div class="pagett2" style="color: #597489;">If you are unable to provide below documents now, it will be required at later stage</div>
        </div>
    </div><!--topheader-->


    <div class="topheader11">
        <div class="topheader2">

            <div class="leftblock1h">

                <div class="hhhbl">
                    <div class="heastext" id="pall1" style="display: none;">Proof of ID of each director and shareholder (Incase of European Nationals ID should be notarized)</div><!--heatext-->
                    <div class="heastext" id="pchar1" style="display: none;">Proof of ID of each trustee</div><!--heatext-->
                    <div class="heastext" id="psole1" style="display: block;">Proof of ID</div><!--heatext-->
                    <div class="hhhb2">
                        <div class="fileUpload btn btn-primary">
                            <label class="uplofile">
                                Upload File
                                <input type="file" name="file4[]" id="file4" multiple="">
                            </label>
                        </div>
                        <div id="file4_prev"></div>
                    </div>
                </div><!--hhhbl-->

                <div class="hhhb3">
                    <div class="heastext">Proof of Personal Address <br>(Incase of European Nationals Address should be notarized and translated into English )</div><!--heatext-->
                    <div class="hhhb2">
                        <div class="fileUpload btn btn-primary">
                            <label class="uplofile">
                                Upload File
                                <input type="file" name="file5[]" id="file5" multiple="">
                            </label>
                        </div>
                        <div id="file5_prev"></div>
                    </div>
                </div><!--hhhbl-->

                <div class="hhhb3">
                    <div class="heastext" id="pall2" style="display: block;">Proof of ID &amp; Address of Each Authorized Represesntative (passport, utility bill, driving license, state issued ID, Incase of European Nationals ID should be notarized)</div><!--heatext-->
                    <div class="heastext" id="pchar2" style="display: none;">Proof of ID &amp; Address of Each Authorized representative (passport, utility bill, driving license, state issued ID, Incase of European Nationals ID should be notarized)</div><!--heatext-->
                    <div class="hhhb2">
                        <div class="fileUpload btn btn-primary">
                            <label class="uplofile">
                                Upload File
                                <input type="file" name="file6[]" id="file6" multiple="">
                            </label>
                        </div>
                        <div id="file6_prev"></div>
                    </div>
                </div><!--hhhbl-->

            </div><!--leftblock1h-->


            <div class="leftblock1h">
                <div class="dectext" id="pall3" style="display: none;">
                    <i class="fa fa-info-circle" aria-hidden="true" style="font-size:16px;"></i> Original seen (certified true copy) valid photo ID of authorised representative, directors and beneficial owners. <br><br>

                    The copy document must be in colour, (Passport, State issued ID and Drivers Licence ONLY). <br><br>

                    Copy must be of front and back of any card used for ID verification or double page of the passport. <br><br>

                    Proof of home address of the above Directors, Authorised representative, and beneficial owners. <br><br>

                    Latest utility bill or bank statement, not older than three months.
                </div>

                <div class="dectext" id="pchar3" style="display: none;">
                    <i class="fa fa-info-circle" aria-hidden="true" style="font-size:16px;"></i> Original seen (certified true copy) valid photo ID of authorised representative &amp; trustees.<br><br>

                    The copy document must be in colour, (Passport, State issued ID and Drivers Licence ONLY). <br><br>

                    Copy must be of front and back of any card used for ID verification or double page of the passport. <br><br>

                    Proof of home address of the above trustees, authorised representative. <br><br>

                    Latest utility bill or bank statement, not older than three months.
                </div>

                <div class="dectext" id="psole3" style="display: block;">
                    <i class="fa fa-info-circle" aria-hidden="true" style="font-size:16px;"></i> Original seen (certified true copy) valid photo ID of authorised representative &amp; owner. <br><br>

                    The copy document must be in colour, (Passport, State issued ID and Drivers Licence ONLY). <br><br>

                    Copy must be of front and back of any card used for ID verification or double page of the passport. <br><br>

                    Proof of home address of the above Authorised representative, and beneficial owner. <br><br>

                    Latest utility bill or bank statement, not older than three months.
                </div>





            </div><!--leftblock1h-->
        </div>
    </div><!--topheader-->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <div class="spacef"></div>

    <div class="topheader11">
        <div class="topheader2">
            <div class="pagehee1" style="color:#597489 !important;">PEP DECLARATION</div>
        </div>
    </div><!--topheader-->

    <div class="topheader11">
        <div class="topheader2">
            <div class="dectext">
                Do any of the above-named authorized representative, owner or any members of their family hold a politically exposed position or are they close associates or cohabitants of anyone who holds a politically exposed position. <br><br>
                A politically exposed position is a head of state or government minister, deputy or assistant a member of the executive council or legislature, and ambassador, embassy attaché or counsellor a high-ranking officer in the armed forces a member of the administrative management or supervisory body of a state-owned enterprise a member of a court of auditors or the board of a central bank a head of a government agency a member of a supreme court constitutional court or high level judicial body.
            </div><!--dectext-->
        </div>
    </div><!--topheader-->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <div class="topheader11">
        <div class="topheader2">

            <div class="blockdata">
                <div class="checkblock">
                    <label class="container">
                        No
                        <input type="radio" name="yesorno" value="decno" checked="checked" id="hidetextbox">
                        <span class="checkmark2"></span>
                    </label>
                </div>
                <div class="checkblock">
                    <label class="container">
                        Yes
                        <input type="radio" name="yesorno" value="decyes" id="showtextbox">
                        <span class="checkmark2"></span>
                    </label>
                </div>
            </div><!--blockdata-->

            <div class="textformblock" id="text1yn" style="display:none;">
                <div class="formb3">
                    <div class="formhe">If yes, please name the person and the relationship</div><!--formhe-->
                    <div class="formtx1">
                        <input type="text" name="ifyes" id="ifyes" onkeydown="iiyes();" placeholder="Enter full name and relationship" tabindex="1">
                        <div id="iiyes" class="errormsg"></div>
                    </div><!--formtx-->
                </div><!--formb1-->
            </div><!--textformblock-->

        </div>
    </div><!--topheader-->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------->



    <div class="topheader11">
        <div class="topheader2" style="text-align:center;">
            <input type="button" name="next1" class="action-button1" value="Previous" onclick="showhearabout()" tabindex="3">
            <input type="button" name="next1" class="action-button1" value="Next" onclick="showdeclaration()" tabindex="2">
        </div>
    </div><!--topheader-->

</div>
