
@{
    Layout = null;
}

<div class="blockmenu menu1">
    <div class="mneuline"><img src="~/Images/dotedlinemenu.png" width="7" height="50"></div>
    <div class="mneutextb">
        <div class="menuheader" onclick="showprofile()">Business Profile</div>
    </div>
</div><!--blockmenu-->
<div class="blockmenu menu2">
    <div class="mneuline"><img src="~/Images/dotstraightline.png" width="7" height="50"></div>
    <div class="mneutextb">
        <div class="menuheader1" onclick="showbussiness()">Business Information</div>
    </div>
</div><!--blockmenu-->
<div class="blockmenu">
    <div class="mneuline menu3"><img src="~/Images/dotstraightline.png" width="7" height="50"></div>
    <div class="mneutextb">
        <div class="menuheader1" onclick="showdirectors()" id="dsall1">Directors &amp; Shareholders</div>
    </div>
</div><!--blockmenu-->
<div class="blockmenu">
    <div class="mneuline menu4"><img src="~/Images/dotstraightline.png" width="7" height="50"></div>
    <div class="mneutextb">
        <div class="menuheader1" onclick="showhearabout()">SUPPORTING DOCUMENTS</div>
    </div>
</div><!--blockmenu-->
<div class="blockmenu">
    <div class="mneuline menu5"><img src="~/Images/dotstraightline.png" width="7" height="50"><img src="~/images/dotlastarrow.png" width="7" height="4"></div>
    <div class="mneutextb">
        <div class="menuheader1" onclick="showdeclaration()">Declarations &amp; Important Notice</div>
    </div>
</div><!--blockmenu-->
