@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Password</title>
    <!-- Google Font: Source Sans Pro -->
    <link href="~/css/media.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->

    @*<style>
        .formhe, .formhe a {
            margin: auto;
            float: left;
            color: #597489;
            font-size: 13px;
            width: auto;
            padding-bottom: 3px;
            font-family: "ProximaNovaAltBold";
            text-decoration: none;
        }

        .field-icon {
            float: right;
            margin-top: -30px;
            margin-right: 10px;
            position: relative;
            z-index: 2;
        }

        .action-buttonsi {
            width: 100px;
            /* background: #5e8c21; */
            background-image: linear-gradient(to right,#19663c, #258e48);
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
            letter-spacing: 1px;
            font-family: montserrat, arial, verdana;
            margin-left: 0px;
        }

        .pageblockwrapper {
            margin: auto;
            float: left;
            width: 100%;
            height: auto;
            overflow: auto;
            margin-top: 100px;
            padding-bottom: 60px;
        }

        .pageblockwrapper1 {
            margin: auto;
            width: 75%;
            height: auto;
            overflow: auto;
        }

        .formblockportions {
            margin: auto;
            width: 60%;
            padding-bottom: 10px;
            -webkit-box-shadow: 0 0 10px #c1bdbd;
            box-shadow: 0 0 10px #c1bdbd;
            background: #FFF;
            overflow: auto;
            padding-bottom: 30px;
        }

        .signblock {
            margin: auto;
            width: 80%;
            height: auto;
            margin-top: 30px;
        }

        .signheading2 {
            margin: auto;
            width: 20%;
            color: #597489;
            margin: auto;
            float: left;
            font-size: 24px;
            height: auto;
            font-family: "ProximaNovaAltBold";
        }

        .signheading1 {
            margin: auto;
            width: 80%;
            color: #597489;
            margin: auto;
            float: left;
            text-align: right;
            font-size: 14px;
            height: auto;
            font-family: "ProximaNova-Regular";
            margin-top: 5px;
        }

        .textformblock {
            margin: auto;
            float: left;
            width: 100%;
            padding: 15px 0 0px 0;
        }

        .formb3 {
            margin: auto;
            float: left;
            width: 100%;
        }

        .signheading1 a {
            color: #09F;
        }

        .formtx1 input {
            margin: auto;
            float: left;
            width: 96%;
            padding: 14px 10px 14px 10px;
            border: #d4e3ee solid 1px;
            border-radius: 4px;
        }

        .footerblockbg {
            margin: auto;
            float: left;
            width: 100%;
            height: auto;
            padding-bottom: 50px;
        }
    </style>*@
</head>

<body style="overflow: hidden;">

    @{
        await Html.RenderPartialAsync("TopNavbarIdentity");
    }
    <form method="post">
        <div class="pageblockwrapper">
            <div class="pageblockwrapper1">
                <div class="formblockportions">
                    <div class="signblock">
                        <div class="signheading">Enter your registered email</div><!--signheading-->
                        <br /><br />
                        <div asp-validation-summary="All" style="color:red" class="text-danger"></div>
                        <div class="textformblock">
                            <div class="formb3">
                                <div class="formhe" style="color:#597489;">Email Address</div><!--formhe-->
                                <div class="formtx1">
                                    <input asp-for="Input.Email" placeholder="Write your registered email" required="" tabindex="1">
                                </div><!--formtx-->
                            </div><!--formb1-->
                        </div><!--textformblock-->
                        <div class="textformblock">
                            <div class="formb3">
                                <input type="submit" name="submitbutf" class="action-buttonsi" value="Submit" tabindex="2">
                            </div><!--formb1-->
                        </div><!--textformblock-->

                    </div><!--signblock-->
                </div><!--formblockportion-->
                <div class="formblockportionsi"></div>
            </div>
        </div>
    </form>

    @{
        await Html.RenderPartialAsync("FooterIdentityPages");
    }
    <script src="../../Admin-Lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../Admin-Lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../Admin-Lte/dist/js/adminlte.min.js"></script>
    <style>
        #mybutn {
            border-radius: 20px;
        }
    </style>
    <script>

        $('#myeye').click(function () {
            debugger
            var PasswordField = document.getElementById('Input_Password')

            if (PasswordField.type == "password") {

                PasswordField.type = "text";
            }
            else {
                PasswordField.type = "password";
            }
        })



    </script>
    <link rel="stylesheet" href="../../Admin-Lte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../Admin-Lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="../../Admin-Lte/dist/css/adminlte.min.css">*@
    <style>
        .action-buttonsi {
            width: 100px;
            background: #5e8c21;
            background-image: linear-gradient(to right,#19663c, #258e48);
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
            letter-spacing: 1px;
            font-family: montserrat, arial, verdana;
            margin-left: 0px;
        }
    </style>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

</html>
